@font-face {
    font-family: 'NanumBarunGothic';
    src: url('NanumBarunGothic.eot');
        url('NanumBarunGothic.woff') format('woff'),
        url('NanumBarunGothic.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NanumBarunGothicBold';
    src: url('NanumBarunGothicBold.eot');
        url('NanumBarunGothicBold.woff') format('woff'),
        url('NanumBarunGothicBold.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}

h1 {
    color:white;
    font-family:'NanumBarunGothic', serif;
    font-size:40px;
    letter-spacing: 15px;
    text-align:center;
    padding:17px;
    margin:0;
    background-color:rgb(240, 210, 210);
}

body {
    margin:0;
}

#topMenu {
    float: right;
    position: relative;
    top:-45px;
}

#topMenu li {
    font-family: 'NanumBarunGothic', serif;
    font-size: 13px;
    color:white;
    display: inline;
    padding:0 10px;
}